body {
 
  font-family: sans-serif;
  
}

div {


  margin: 10px 0px 10px 0px
}

h1 {

  color: grey;
  font-weight: 150;


}


#Principal {
  background-color: white;
  width: 50%;
 
  margin: 100px auto;
  padding: 10px 10px;
  text-align: center;
  color: gray;
  box-sizing: border-box;
  position: center;
  box-shadow: 5px 0px 10px black;
 
}
#Resultado {
  background-color: white;
  width: 50%;
  height: 60%;
  margin: 100px auto;
  padding: 10px 10px;
  text-align: center;
  color: gray;
  box-sizing: border-box;
  position: center;
  box-shadow: 5px 0px 10px black;
 
  
}

.botao {
  padding: 10px;
  background-color: gray;
  color: white;
  border: none;
  font-weight: 800;
  border-radius: 45%;
}



#entrada {

  width: 100%;
  padding: 20px;
  border:  none  ;
}



.mensagens {
  
  padding: 20px;
  opacity: 0.9;
  width: 60%;
    }

  #foto{

align-self: auto

  }


  .card h2{

  }

  .card-input {

  }

  .acoes{

  }

  .acoes button {
    boder:none;
    padding: 15px;
    font-size :12px;



  }


  .acoes button:houver {

    
  }